@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;

}
.card
{
    border: solid #000 1px;
    border-radius: 5px;
    background-color: #ffff;
    width: 400px;
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.card-header
{
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
.UserNameBody
{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 30px;

}
.Issue
{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 60px;
}
.Actions
{
    display: flex;
    justify-content: space-around;

}
.BigBoss
{
    display: flex;

}
.grid
{
    margin-top: 77px;
    margin-left: 40px;
    display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-gap: 120px; 

}
.delete
{
    width: 150px;
    background-color: #861b29;
    color: #ffff;
    border-radius: 5px;
    border: none;
  outline: none;
  box-shadow: none;
 font-size: 1rem;
 font-weight: 600;
 height: 40px;
 cursor: pointer;
}


.popup
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;

}
.popup textarea {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
  }
