.button-list{
    display: flex;
    flex-direction: column;
    width: 300px;
    opacity: 0.7;
    background-position-y: -180%;
}
.btn:hover{
    background-color: #33495c;
}

.container{
    text-align: center;
    color: rgb(52, 76, 94);

}

.logo{
    margin-right: auto;
    width: 150px;
    height: auto;

}

.welcome{
    color: #527694;
}
body {
    background-color: #E9EDEF;
    background-size: auto;
    background-image: url("background.png");
    background-position: center;
    background-position-y:120px;
    
}


img.logo {
    display: block;
    margin: 0 auto;
} 
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #527694;
}
h1 {
    color: #d1d1d1;
    font-size: medium;
    transform: translateY(-160%);
}
.btn {
    background-color: #527694;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}