body {
    background-color: #E9EDEF;
    background-size: auto;
    background-image: url("background.png");
    background-position: center;
    
}
img.logo {
    display: block;
    margin: 0 auto;
} 
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #527694;
}
.navbar {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    margin-right: 20px;
}
.navbar a {
    color: #E9EDEF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #527694;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: #333;
    padding: 8px 0;
    display: block;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.btn:hover{
    background-color: #33495c;
}